.poll-override article {
    width: 100%!important;
}
.poll-override article ._cCkxB  {
    position: relative;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.poll-override article ._3gEzx {
    padding: 1rem .8rem;
    border-radius: 10px;
}
.poll-override article ._3gEzx ._is6ww {
    height: 5px;
    margin-top: 1rem;
}
.poll-override article ._cCkxB ._is6ww::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid var(--text-secondary);
}
.poll-override article ._3gEzx ._is6ww p {
    padding: 0;
    transform: translate(0, -1.5rem);
}
.poll-override article ._cCkxB ._is6ww p {
    padding: 0 1rem;
    transform: translate(1rem, -1rem);
}

.poll-override article ._3gEzx span {
    top: 50%;
    transform: translateY(calc(-50% - .5rem));
}