.comments-container {
    max-height: 0px;
    transition: max-height 0.3s;
    margin-left: 47px;
    overflow: hidden;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.comments-container.extend{
    max-height: 400px;
    border-top: 1px solid var(--bg-secondary-light);
    overflow: auto;
}

.member-list {
    background-color: var(--bg-primary);
    width: 60%;
    min-height: 96px;
    border-radius: 10px;
  }