.general-settings .account{
    flex-direction: row;
    display: flex;
    flex: 1;
    padding: 28px;
}

.general-settings .form-area{
    flex: 1.3;
}

.general-settings .copy {
    margin-left: -70px;
    cursor: pointer;
    position: relative;
}
.general-settings .copy p,
.general-settings .copy img{
    display: inline-block;
}
.general-settings .copy img{
    top: 6px;
    position: relative;
    margin-left: 5px;
}

.general-settings .closeWallet {
    margin-left: 20px;
    margin-top: 3px;
}


.general-settings .my-nfts {
    position: relative;
    padding: 28px;
    border-radius: 20px;
    flex: 1.2;
    background-color: var(--bg-secondary-dark);
    overflow-y: scroll;
    max-height: calc(100vh - 56px);
}

.general-settings .my-nfts .nfts.closed {
    display: none;
}

.general-settings .my-nfts .input-container {
    margin-bottom: 20px;
}

.general-settings .search-icon {
    top: 70px;
    right: 40px;
    background: var(--bg-primary);
}

.general-settings .my-nfts span.selected {
    color: var(--green);
}

.general-settings .my-nfts .nftCollection .head {
    border-bottom: 2px solid var(--bg-primary);
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.general-settings .my-nfts .nftCollection .head div,
.general-settings .my-nfts .nftCollection .head a {
    display: inline-block;
    vertical-align: top;
}

.general-settings .my-nfts .nftCollection .head .float-left {
    width: 50%;
}

.general-settings .my-nfts .nftCollection .head .minus {
    background: var(--text-primary-light);
    height: 2px;
    width: 15px;
    margin-right: 20px;
    margin-top: 10px;
    float: left;
    position: relative;
}
.general-settings .my-nfts .nftCollection .head .minus.plus:after {
    content: '';
    background: var(--text-primary-light);
    height: 15px;
    width: 2px;
    position: absolute;
    left: 6px;
    top: -6px;
}

.general-settings .my-nfts .nftCollection .head .float-left .title {
   width: 80%;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.general-settings .my-nfts .nftCollection .head .float-left {
    cursor: pointer;
}
.general-settings .my-nfts .nftCollection .head .float-right {
    width: 150px;
}

.general-settings .my-nfts .nftCollection .head .selectAll {
    color: var(--green)!important;
    float: right;
    cursor: pointer;
}

.general-settings .my-nfts .nftCollection .the-nft{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 4px;
    margin-bottom: 10px;
}

.general-settings .my-nfts .nftCollection .the-nft .inner {
    border: 2px solid var(--bg-primary);
    border-radius: 10px;
    position: relative;
}

.general-settings .my-nfts .nftCollection .the-nft.selected .inner {
    border: 2px solid var(--green);
    border-radius: 10px;
    position: relative;
}

.general-settings .my-nfts .nftCollection .the-nft.selected .inner .status{
    position: absolute;
    width: 70px;
    background: var(--green);
    border-radius: 0 0 10px 10px;
    display: block;
    margin: 0 auto;
    left: 50%;
    color: var(--bg-primary);
    margin-left: -35px;
    text-align: center;
    padding: 1px;
}



.general-settings .my-nfts .nftCollection .the-nft img{
    width: 100%;
}

.general-settings .my-nfts .nftCollection .detail{
    display: block;
    background: var(--bg-primary);
    margin: 0;
    padding: 7px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -10px;
}

.general-settings .my-nfts .nftCollection .the-nft .public p,
.general-settings .my-nfts .nftCollection .the-nft .public .checkarea {
    display: inline-block;
    overflow: hidden;
}

.general-settings .my-nfts .nftCollection .the-nft .public p {
    margin: 4px 0px;
}


.general-settings .my-nfts .nftCollection .the-nft .public .checkarea {
    margin-left: 10px;
}


.general-settings .my-nfts .nftCollection .the-nft input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.general-settings .my-nfts .nftCollection .the-nft label {
	cursor: pointer;
	text-indent: -9999px;
    width: 55px;
    height: 25px;
	background: var(--checkbox-dark);
	display: block;
	border-radius: 100px;
	position: relative;
}

.general-settings .my-nfts .nftCollection .the-nft label:after {
	content: '';
	position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.general-settings .my-nfts .nftCollection .the-nft input:checked + label {
	background: var(--green);
}

.general-settings .my-nfts .nftCollection .the-nft input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.general-settings .my-nfts .nftCollection .the-nft label:active:after {
	width: 50px;
}

.general-settings .my-nfts .nftCollection .submitArea div {
    margin: 0 auto;
}