.general-settings .account{
    flex-direction: row;
    display: flex;
    flex: 1;
    padding: 28px;
    gap: 47px;
}

.general-settings .form-area{
    flex: 1;
}

.general-settings .copy {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 12px;
}
.general-settings .copy p,
.general-settings .copy img{
    display: inline-block;
}
.general-settings .copy img{
    top: 6px;
    position: relative;
    margin-left: 5px;
}

.general-settings .closeWallet {
    margin-left: 20px;
    margin-top: 3px;
}

.general-settings .search-icon {
    top: 70px;
    right: 40px;
    background: var(--bg-primary);
}