.requests-list {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    flex: 1.2;
    background-color: var(--input);
    width: 96%;
    height: 6rem;
}

.profile-image-user {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: var(--input);
    border-radius: 100px;
    text-align: center;
    color: var(--inactive);
    overflow: hidden;
}

.date-label {
    color: var(--inactive);
}
