.select-custom {
    width: 100%;
    padding: 5px 0px 5px 12px;
    border-radius: 25px;
    appearance: none;
    color: var(--text-secondary);
    text-align: left;
    height: inherit;
  }
  .select-custom:focus-visible {
    outline: none;
  }
  
  .select-arrow {
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: transparent;
    border-radius: 15px;
    width: 28px;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  .select-arrow.selected > i {
    transform: rotate(0deg);
  }
  .select-arrow > i {
    color: var(--text-secondary);
    transition: transform 0.1s;
    transform: rotate(-180deg);
  }
