.images-wrapper {
    flex-wrap: wrap;
    max-width: 650px;
}

.image-item {
    position: relative;
    display: grid;
    place-items: center;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.image-item > img {
    width: 100%;
}

.image-item .image-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.image-item .image-actions a,
.image-item .image-actions a > i {
    color: var(--inactive);
}

.image-item:hover > .image-actions {
    opacity: 1;
    pointer-events: all;
}

.emoji-item {
    font-size: 1.5rem;
}
