.message-intput-editor {
    background-color: var(--bg-secondary-light);
    color: var(--text-primary);
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.message-intput-editor a {
    color: #FFFFFF!important;
    text-decoration: underline!important;
}

.message-input-toolbar {
    background-color: var(--bg-secondary-light);
    border-color: var(--bg-secondary-light);
}

.message-input-wrapper {
    background-color: var(--bg-secondary-light);
    border-radius: 10px;
    padding: 0 1rem;
}

.message-input-wrapper.loading-images {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bordered-option-classname {
    padding: 3px 5px;
    background-color: var(--bg-secondary-light);
    border-color: var(--text-secondary-dark); 
    color: var(--text-secondary-dark);
}

.bordered-option-classname[aria-selected='true'] {
    background-color: var(--bg-secondary-light);
}

.bordered-option-classname:hover {
    box-shadow: none;
}

.bordered-option-classname > img {
    height: 100%;
}

.toolbar-popup {
    top: auto;
    bottom: 150%;
    background-color: var(--bg-secondary-dark);
    border-color: var(--text-secondary-dark); 
    box-shadow: none;
}

.toolbar-popup .rdw-image-modal-upload-option,
.toolbar-popup .rdw-link-modal-input {
    background-color: var(--bg-secondary-dark);
    color: var(--text-secondary-dark);
}

.toolbar-popup .rdw-image-modal-btn,
.toolbar-popup .rdw-link-modal-btn {
    background-color: var(--bg-secondary-dark);
    color: var(--text-secondary-dark);
}

.toolbar-popup .rdw-image-modal-size {
    display: none;
}

.toolbar-button {
    background: transparent;
}

.toolbar-button[disabled] {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}

.toolbar-button:focus {
    outline: 1px solid var(--text-secondary-dark);
}

.images-to-upload-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-secondary-light);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .5rem 1rem;
}

.images-to-upload-item {
    position: relative;
    width: 100px;
    height: 100px;
}

.images-to-upload-item.uploading img {
    opacity: .3;
}

.images-to-upload-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-to-upload-item .image-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .2rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.images-to-upload-item .image-actions button {
    background-color: var(--bg-secondary-light);
    border: none;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    outline: none;
    box-shadow: none;
}

.images-to-upload-item .image-actions button > i {
    color:  var(--text-secondary-dark);
    font-size: .8rem;
}

.message-input-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 5px solid var(--text-secondary-dark);
    border-bottom-color: transparent;
    border-radius: 50px;
    animation: 1.5s linear infinite spinner;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
      }
      100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
}