.fade-in {
	animation: fade-in 0.3s ease;
}

.fade-in-left {
	animation: fade-in-left 0.3s ease;
}

.fade-in-top {
	animation: fade-in-top 0.3s ease;
}

.fade-in-delay {
	opacity: 0;
	animation: fade-in 0.3s ease forwards 0.2s;
}

.fade-in-delay-2 {
	opacity: 0;
	animation: fade-in 0.3s ease forwards 0.4s;
}

.fade-in-delay-3 {
	opacity: 0;
	animation: fade-in 0.3s ease forwards 0.6s;
}

.bounce-from-right {
	animation: enter-right 0.3s ease;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in-left {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fade-in-top {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes enter-right {
	0% {
		transform: translateX(100%);
	}
	60% {
		transform: translateX(0) scale(0.9, 1.05);
	}
	70% {
		transform: translateX(-10px) scale(1.02, 0.95);
	}
	100% {
		transform: none;
	}
}
