.profile-round {
	width: 35px;
	height: 35px;
	background-color: var(--input);
	border: 1px solid black;
	border-radius: 20px;
	margin: 0px 12px;
	overflow: hidden;
	object-fit: cover;
}

.upload-colony-image {
	flex-shrink: 0;
	width: 70px;
	height: 70px;
	cursor: pointer;
	background: var(--input);
	outline: 1px dashed var(--inactive);
	border: 4px solid var(--background);
	border-radius: 100px;
	text-align: center;
	color: var(--inactive);
	overflow: hidden;
}

.upload-side-settings-image {
	width: 80px;
	height: 80px;
}

.upload-colony-cover {
	width: 200px;
	height: 100px;
	cursor: pointer;
	background: var(--input);
	border: 2px dashed var(--inactive);
	border-radius: 3px;
	text-align: center;
	color: var(--inactive);
	overflow: hidden;
}
